.headpic{
	max-width : 500px;
	width:90%;
	height : auto;
	display : block;
	margin: auto;
	margin-top: 40px;
	margin-bottom : 40px;
	user-select: none;
}


.title{
	user-select: none;
	font-size: 50px;
	text-align: center;
	padding: 20px;
	padding-top: 10px;
	border-bottom: 2px solid black;
	text-decoration:none;
}

a{
	text-decoration:none;
}

.subtitle{
	font-size:14px;
}

.main{
	max-width: 1440px;
	border-radius: 5px;
	width: 98%;
	overflow: auto;
	overflow-x: hidden;
	padding: 1%;
	/*background: rgba(200, 200, 200, 0.4);*/
	margin:auto;
}


.item, .headbox{
	font-family: sans-serif;
	background: rgba(200, 200, 200, 0.4);
	/* border-bottom: 1px solid black; */
	float: left;
	overflow: clip;
	padding: 0.5%;
	border-top: rgba(0, 0, 0, 0.4);
	margin: 0.3%;
	text-align: center;
	width: 96.4%;
	height:3.5em;
}
	
.headbox{
	background: white;
	height: 70px;
}
/*.head{
	font-family: sans-serif;
	background: rgba(200, 200, 200, 0.4);
	float: left;
	overflow: clip;
	padding: 0.65%;
	border-top: rgba(0, 0, 0, 0.4);
	margin: 0.6%;
	text-align: center;
	width: 8.8%;
	
	user-select: none;
	font-size: 13;
}*/

.subitem, .head{
	border-radius: inherit;
	width: 9.2%;
	overflow: hidden;
	padding: inherit;
	background: rgba(255, 255, 255, 0.5);
	margin:0.5%;
	float:inherit;
	height: 50%;
	align-items:center;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
}

.head{
	background: rgba(200, 200, 200, 0.4);
	padding-bottom: 0;
	margin-bottom: 0;
	user-select:none;
	cursor: pointer;
	height: 100%;
	font-weight:bold;
}
.citation{
	font-family:sans-serif;
	/*font-size:11;*/
	padding:2%;
	float:left;
	width:100%;
}

a {
	color: black;
}


.menu{
	width:90%;
	max-width:700px;
	margin: auto;
	background-color: blue;
}

.menuitem{
	float:left;
	margin:auto;
	margin-left:10px;
	margin-bottom:10px;
	padding:2%;
	background: rgba(200, 200, 200, 0.4);
	font-weight:bold;
	font-family:sans-serif;
	border-radius:5px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}


#myInput{
	font-size: 20px;
	padding: 10px;
	width: 498px;
	background: none;
	font-weight:normal;

}

.infotitle, .info{
	padding:0.7%;
}

.infotitle{
	width : 15%;
	text-align: right;
	
}

.info{
	width : 30%;
	text-align: left;
	color: inherit;
	overflow-y:auto;
}

.structure{
	height: 700px;
}

.nothing{
	z-index : -10;
	float: left;
	position: absolute;
	right: 50px;
	top: 50px;
}

.col2, .col4, .col5, .col6, .col7, .col8{
	width: 6%;
}

.col1, .col3{
	width: 24%;
}

.col5{
	width: 6%;
}

.subitem{
	height: 30px;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	padding-bottom:8px;
}

@media only screen and (max-width: 1400px){
	.col2.head, .col4.head, .col5.head, .col6.head, .col7.head, .col8.head{
		font-size:13px;
	}
	.col5.head{
		font-size:11px;
	}
		
	.structure{
		height:400px;
	}
}

@media only screen and (max-width: 950px){
	.col5, .col6, .col8{
		display: none;
	}
	.col2, .col4, .col5, .col6, .col7, .col8{
		width: 7.3%;
	}
	.col2.head, .col4.head{	
		font-size:11px;
	}
	.col1, .col3{
		width: 34%;
		
	}
	.item{
		height:50px;
	}
	.structure{
		height:400px;
	}

	
	.info, .infotitle, .redoxstatement{
		font-size:14px;
	}
	.redoxstatement{
		height: fit-content;
	}
	
}

@media only screen and (max-width: 600px){
	.col1, .col3{
		font-size:16px;
	}
	.col7.head{
		font-size:8px;
	}
	.long{
		display:none;
	}
	.col2.subitem, .col4.subitem, .col7.subitem{
		font-size:13px;
	}
	#myInput{
		width:90%;
	}
}

@media only screen and (max-width: 450px){
	.infotitle{
		font-size:11px;
	}
}

@media only screen and (max-width: 1000px){
	.long2{
		display:none;
	}
	
}

.col7.head{
	background: linear-gradient(90deg, rgba(255,0,100,.3), rgba(150,150,100,0.3) 50%, rgba(0,255,100,.3) 80%);
}

.link{
	color: blue;
}

.knowntick{
	font-size:20px;
}

.alternate{
	min-width:300px;
	height: fit-content;
	min-height:3.5em;
}

.loading{
	display: none;
}

.title.home{
	/*padding-top:30vh;*/
	border:none;
	/*font-size:200%;*/
}

.citation.home{
	display:none;
}
.button{
	-webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.item.home {
	border-radius:10px;
	max-width : 500px;
	width:90%;
	margin:auto;
	float:none;
	border-radius: 5px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	min-height:fit-content;
	display:flex;
	align-items:center;
	justify-content:center;
	padding:10px;
}

.button:after {
	content: "";
	border-radius: 5px;
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
	opacity: 0;
	-webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.button:hover {
	-webkit-transform: scale(1.03, 1.03);
	transform: scale(1.03, 1.03);
}

.button:hover::after {
    opacity: 1;
}

.item, .head{
	border-radius:5px;
}

.item.home.about_button{
	width:fit-content;
	height:fit-content;
	padding:10px;
}

.item.about{
	width:90%;
	text-align:justify;
	padding:5%;
	padding-top:20px;
	padding-bottom:20px;
	margin:auto;
	height: fit-content;
	line-height:1.5;
}

h1{
	text-align: center;
	margin:auto;
	margin-bottom:30px;
	float: initial;
	width:fit-content;
}

.aux{
	height:fit-content;
	max-width:40%;
	width:200px;
}

.selected{
	text-shadow: 0px 0px 1px rgba(0,0,0, 0.5);
}